<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestUtil">

	<test name="Assertion">
        <packages>
            <package name="com.tvd12.test.testing.assertion"/>
        </packages>
    </test>

    <test name="Performance">
        <packages>
            <package name="com.tvd12.test.testing.performance"/>
        </packages>
    </test>
    
    <test name="Reflect">
    	<packages>
    		<package name="com.tvd12.test.testing.reflect" />
    	</packages>
    </test>
    
    <test name="Base">
        <packages>
            <package name="com.tvd12.test.testing.base"/>
        </packages>
    </test>
    
    <test name="Util">
        <packages>
            <package name="com.tvd12.test.testing.util"/>
        </packages>
    </test>
    
</suite>
